<html>
<head>

<!-- 引用jQuery -->
<script src="/static/js/jquery.min.js"></script>

<!-- 引用Vue -->
<script src="/static/js/vue.js"></script>

<script>
// 初始化代码:
$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            name: 'Robot',
            age: 15
        }
    });
    window.vm = vm;
});
</script>

</head>

<body>

    <div id="vm">
        <p>Hello, {{ name }}!</p>
        <p>You are {{ age }} years old!</p>
    </div>

    <form id="vm-form" action="#">
        <p><input type="text" v-model="email"></p>
        <p><input type="text" v-model="name"></p>
    </form>
</body>
<script>
    var vmForm = new Vue({
        el: '#vm-form',
        data: {
            name: 'Jack',
            email: 'jack@qq.com'
        }
    });

    window.vmForm = vmForm;
</script>
<html>